.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    font-family: $heading-font;
    @include page-width;
}
.header--left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.block-system-branding-block {
    display: flex;
    align-items: center;

    .logo {
        min-width: 2em;
        max-width: 2em;
        margin: .7em;
    }
    h1 {
        margin-left: 0;
        padding-left: 0;
    }
    h1 a {
        display: block;
        max-width: 2rem;
        font-size: 1rem;
        font-weight: 900;
        line-height: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        transition: $tr-a-hover;

        &:hover {
            color: #333;
        }
    }
}

.block-local-tasks-block {
    text-align: center;

    li {
        display: inline-block;

        a {
            background: #49a2da;
            display: inline-block;
            padding: 10px;
            text-decoration: none;
            color: #fff;
            transition: $tr-a-hover;

            &:hover {
                background: #286f9b;
            }
        }
    }
}

.main {
    @include page-width;
    font-size: 0.7rem;

    @media screen and (min-width: 50rem){
        font-size: 1rem;
    }
}

// Article Layout
.node--type-article .layout--twocol-section--67-33 {
    
    .layout__region--first{
        @media screen and (min-width: 50rem){
            margin-top: -5rem;
            box-sizing: border-box;
            padding: 1em 1em 1em 4em;
        }
        
        div {
            background: #fff;
            padding: 1em 1em 0;
        }
    }
}

// Grid Layout
.grid-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

// Footer Layout
.footer > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-family: $heading-font;
    @include page-width;
    padding: 2em;

    > div {
        flex-grow: 1;
    } 

    @media screen and (min-width: 36.42rem){
        text-align: left;

        > div {
            flex-grow: 0;
        }
    }
}

.footer img{
    max-width: 1.5em;
    height: auto;
    transition: ease 0.3s all;

    &:hover {
        opacity: 0.7;
    }
}