// General form styles
input {
    background: rgb(255, 255, 255);
    border: 0;
    border-bottom: 2px solid #000;

    &:focus {
        border-bottom: 2px solid rgb(19, 156, 230);
        outline: 0px solid #fff;
    }
}

input[type="submit"]{
    background: rgb(19, 156, 230);
    color: #fff;
}

// Search Form
#search-block-form {
    display: flex;
    align-items: flex-end;
    font-size: .8em;

    .form-search {
        width: 100%;
        min-width: 13em;
        max-width: 13em;
    }

    .button {
        background: transparent;
        font-weight: 900;
        color: #000;
        
        &:hover {
            border-bottom: 2px solid rgb(19, 156, 230);
        }
    }
}
