// General form styles
input {
    background: rgb(255, 255, 255);
    border: 0;
    border-bottom: 2px solid #000; 

    &:focus {
        border-bottom: 2px solid $blue;
        outline: 0px solid #fff;
    }
}

input[type="submit"]{
    background: rgb(19, 156, 230);
    color: #fff;
}

// Search Form
#search-block-form {
    display: flex;
    align-items: flex-end;
    font-size: 0.8em;

    .form-search {
        width: 100%;
        min-width: 13em;
        max-width: 13em;

        &:hover {
            border-bottom: 2px solid $blue;

        }
    }

    .button {
        text-indent: -9999px;
        background: transparent url(../images/search.png) no-repeat; 
        background-size: contain;
        width: 1em;
        border-bottom: 0px;
        margin-left: -1em;

        // font-weight: 900;
        // color: #000;
        
        // &:hover {
        //     border-bottom: 2px solid rgb(19, 156, 230);
        // }
    }
}
